---
# !!! hangs on first network reconfig. 
# might need 
#   - name: Reset connection
#     meta: reset_connection
# in nickhardiman.libvirt.libvirt_net_public 

- name: Build new hypervisor
  hosts: '{{target|default("all")}}'
  become: true
  gather_facts: true
  # vars_files:
  #   - ~/vault-credentials.yml
  roles:
    - role: nickhardiman.libvirt.libvirt_host
    - role: nickhardiman.libvirt.libvirt_storage
    - role: nickhardiman.libvirt.libvirt_net_public
    - role: nickhardiman.libvirt.libvirt_net_private
